<div id="title">
  Tri-Peaks
</div>
<div id="game-data">
  <div id="score">⚐ {{game.score}}</div>
  <div id="timer">◷ {{game.timer}}</div>
  <button id="restart" *ngIf="game.isDeckEmpty() || game.timer == 0" (click)="restartGame()">☠ Restart ☠</button>
  <button id="nextRound" *ngIf="game.roundComplete" (click)="nextRound()">➟ Next Round</button>
  <div id="round"># {{game.round}}</div>
  <div id="chain">☍ {{game.chain}}</div>
</div>
<div id="game-area">
  <div id="peaks">
    <div *ngFor="let peak of game.peaks; let i = index;" class="peak" id="peak-{{i}}">
      <peak-row [peak]="peak | peakrow: 1" [peakIndex]="i" [row]="1" (onPickedCard)="pickedCard($event)"></peak-row>
      <peak-row [peak]="peak | peakrow: 2" [peakIndex]="i" [row]="2" (onPickedCard)="pickedCard($event)"></peak-row>
      <peak-row [peak]="peak | peakrow: 3" [peakIndex]="i" [row]="3" (onPickedCard)="pickedCard($event)"></peak-row>
      <peak-row [peak]="peak | peakrow: 4" [peakIndex]="i" [row]="4" (onPickedCard)="pickedCard($event)"></peak-row>
    </div>
  </div>
  <div id="deck">
    <div *ngFor="let card of game.deck" (click)="drawFromDeck()" [ngClass]="{'black-suit': card.isBlackSuit(), 'red-suit': card.isRedSuit()}" class="card">
      <div *ngIf="card.faceUp">
        <span class="card-suit">{{card.suit}}</span>
        <span class="card-value">{{card.value}}</span>
      </div>
      <div *ngIf="!card.faceUp">
        <div class="card-face-down"></div>
      </div>
    </div>
  </div>

  <div id="active-card" [ngClass]="{'black-suit':game.activeCard.isBlackSuit(), 'red-suit': game.activeCard.isRedSuit()}" class="card">
      <span class="card-suit">{{game.activeCard.suit}}</span>
      <span class="card-value">{{game.activeCard.value}}</span>
  </div>
</div>